<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">

<!-- Comment Section -->
<div id="comment-section"></div>

<script>
initComments({
  node: document.getElementById("comment-section"), // Connects to the div where comments will load
  defaultHomeserverUrl: "https://matrix.cactus.chat:8448", // URL of the Cactus homeserver
  serverName: "cactus.chat", // Name of the server
  siteName: "Nirav Raval", // Replace with the name of your site
  commentSectionId: "comments-home" // A unique identifier for your comment section
});
</script>
